body {
    font-family: Helvetica;
    margin:0px;
    padding:0px;
    background-color:#ddd;
}

#header {
    background-color: #1c364c;
    padding:4px;
    padding-left:15px;
    margin:0px;
}

#header h1 {
    margin:0px;
    padding:0px;
    color: white;
}

#main {
    background-color:#366a96;
    color:#eee;
    margin:0px;
    padding:15px;
    min-height:150px;
}

#main a.repo {
    color: #eee;
    font-size: 20px;
    background-color: #568ab6;
    padding: 2px 5px 2px 5px;
    border: 1px solid #76a6d6;
    margin-right:8px;
    line-height: 40px;
    text-decoration: none;
}

.repotitle h2 {
    font-size: 30px;
    margin:0;
    padding:0;
}

div.repotitle {
    color: #eee;
    margin-top:10px;
    background-color: #568ab6;
    padding: 15px;
    border: 1px solid #76a6d6;
}

#footer {
    background-color:#b6cfe3;
    color:#333;
    margin:0px;
    padding:15px;
}

p {
    margin-left:30px;
}

.back {
    padding-top:15px;
    font-size:20px;
}
.back a {
    color:white;
    text-decoration:none;
}

ul.commits a {
    color:yellow;
    text-decoration: none;
    font-weight: bold;
}

div.code {
    font-family:monospace;
}

#helpbox {
    line-height:20px;
    padding-bottom:40px;
    margin:15px;
}

#helpbox h3 {
    font-size:24px;
    color:#444;
}

#helpbox a {
    text-decoration: none;
    color: #1c364c;
    font-weight: bold;
}
